@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* puro styling bs */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 200,
        'opsz' 48
}

.logo {
    scale: 0.8;

}

#logo-a {
    width: 120px;
    height: 70px;
    display: flex;
}

h4 {
    font-size: 30px;
}

h2 {
    font-size: 50px;
}

h1 {
    font-size: 70px;
}

h4 {
    font-size: 30px;
}

/* actual matha byatha css code */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    height: 100%;
    width: 100%;
}

/* navbar */

i {
    display: inline-block;
    height: 1rem;
    width: 1rem;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    z-index: 1;
}


#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 40px;
}

#navbar li button {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #1a1a1a;
    transition: font-size 0.25s ease-in-out, text-decoration 0.25s ease-in;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    outline: none;
}



#symbol button::before {
    height: 0;
}

#navbar li button::before {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 4px;
    margin-top: 30px;
    background-color: black;
    transition: all 0.15s ease-in;
}

#navbar li button:hover::before,
#navbar li button.active::before {
    width: 35px;
}

#search {
    outline: none;
    width: 15em;
    border: 1px solid black;
    padding: 2px 3px;
}

/* Categories section */
.categories {
    height: 90vh;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3vw;
    background-image: linear-gradient(to bottom, rgb(140, 146, 151), #E3E6F3);
}

.category {
    display: flex;
    width: 16vw;
    height: 16vw;
    margin-inline: 2.5vw;
    cursor: pointer;
    transition: scale 0.2s ease-in-out;
}

.img-category {
    width: 16vw;
    height: 16vw;
    box-shadow: 10px 10px 25px rgba(3, 35, 44, 0.6);
    border-radius: .3rem;
}

.overlay-category {
    position: absolute;
    width: 16vw;
    height: 16vw;
    background-color: rgb(50, 80, 50, 0.4);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: .3rem;
    opacity: 0;
    transition: opacity 250ms;
}

.text-category {
    color: rgb(221, 221, 221);
    text-shadow: 5px 5px 5px rgb(51, 51, 51);
    position: absolute;
    font-size: 120%;
    bottom: 20px;
    left: 10px;

}

.overlay-category:hover {
    opacity: 1;
}

.category:hover {
    scale: 1.1;
}

#items {
    background-color: #babcc4;
    display: flex;
}

#items-show {
    display: flex;
    flex-direction: column;
    padding: 1em 8em;
    min-height: 90vh;
    width: 80vw;
    z-index: 0;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #8e9096;
    border-radius: .5rem;
    cursor: pointer;
    transition: scale 0.15s ease-in-out;
    padding: 1em 1em;
    font-size: 120%;
    font-weight: 1200;
    margin: 1em 0;
}

.item * {
    margin: 0 3em;
}

.img-item {
    width: 10em;
    height: 10em;
    border: 1px solid black;
    border-radius: .3rem;
}

.item:hover {
    scale: 1.05;
}


.item-list {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 2%;
    height: 70vh;
    width: 18vw;
    background: white;
    margin-top: 3vh;
    border-radius: 0.5rem;
    box-shadow: 0 0 0rem 0.5rem white;
    padding: 2rem;
}

.item-list h5 {
    font-size: 1.5rem;
    line-height: 5vh;
}

.item-list > div {
    line-height: 5vh;
}

.payment-button {
    margin-top: 1vh;
    border-radius: 3rem;
    outline: none;
    border: none;
    height: 4vh;
    background-color: aqua;
    transition: all 0.15s ease-in-out;
}

.payment-button:hover { 
    cursor: pointer;
    background-color: rgb(157, 221, 221);
}

.recommended-item { 
    height: 10vh;
    width: 14vw;
    background:#E3E6F3;
    box-shadow: 0 0 ;
    border-radius:0.5rem ;
}

.recommended-items { 
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-top: 3vh;
    margin-left: 0.5vw;
}

.item-wrapper { 
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 90%;
    margin: 0;
}

.flex { 
    display: flex;
}

.another-wrapper { 
    margin: 0;
    flex-direction: column;
    justify-content:flex-end;
    gap: 2rem;
}

.cost-item { 
    text-align: right;
    margin: 0;
}

#cost-per-item-wrapper { 
    margin: 0;
    display: flex;
    justify-content: space-between;
}

#cost-per-item-wrapper > p { 
    margin: 0;
}

.another-wrapper > p { 
    margin: 0;
}

.another-wrapper > select{ 
    margin: 0;
}

.name-item { 
    text-align: left;
    margin-left: 0;
}

.description { 
    margin-left: 0;
}

.total-cost-item { 
    margin: 0;
    text-align: right;
}

.quantity-wrapper {
    margin: 0;
    gap: 1rem;
}

.another-wrapper * { 
    margin: 0;
}
