@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* puro styling bs */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 200,
        'opsz' 48
}

.logo {
    scale: 0.8;

}

#logo-a {
    width: 120px;
    height: 70px;
    display: flex;
}

h4 {
    font-size: 30px;
}

h2 {
    font-size: 50px;
}

h1 {
    font-size: 70px;
}

h4 {
    font-size: 30px;
}

/* actual matha byatha css code */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

/* navbar */

i {
    display: inline-block;
    height: 1rem;
    width: 1rem;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
}


#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 50px;
}

#navbar li button {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #1a1a1a;
    transition: font-size 0.25s ease-in-out, text-decoration 0.25s ease-in;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    outline: none;
}



#symbol button::before {
    height: 0;
}

#navbar li button::before {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 4px;
    margin-top: 30px;
    background-color: black;
    transition: all 0.15s ease-in;
}

#navbar li button:hover::before,
#navbar li button.active::before {
    width: 35px;
}

/* Categories section */
.categories {
    height: 90vh;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1em;
}

.category {
    display: flex;
    border: 1px solid rgb(0, 0, 0, 0);
    border-radius: .3rem;
    background-color: red;
    width: 13em;
    height: 13em;
    margin-inline: 3em;
    cursor: pointer;
}

.img-category {
    position: absolute;
    width: 13em;
    height: 13em;
}

.overlay-category {
    position: absolute;
    width: 13em;
    height: 13em;
    background-color: rgba(255, 128, 149, 0.4);
    opacity: 0;
    transition: opacity 250ms;
}

.text-category {
    color: rgb(221, 221, 221);
    text-shadow: 5px 5px 5px rgb(51, 51, 51);
    position: absolute;
    font-size: 120%;
}

.overlay-category:hover {
    opacity: 1;
}

/* main home page */

.main-page {
    height: 90vh;
    display: grid;
    grid-template-rows: 20% 15% 5% 10% 5% 10% 30%;
    align-items: center;
    background: #E3E6F3;

}

.main-page>h4 {
    grid-row: 2;
    margin-left: 10%;
}

.main-page>h2 {
    grid-row: 3;
    margin-left: 10%;
}

.main-page>h1 {
    grid-row: 4;
    margin-left: 10%;
}

.main-page>p {
    grid-row: 5;
    margin-left: 10%;
}

.main-page>button {
    grid-row: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 50%;
    margin-left: 10%;
    outline: none;
}