@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* puro styling bs */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 200,
        'opsz' 48
}

.logo {
    scale: 0.8;

}

#logo-a {
    width: 120px;
    height: 70px;
    display: flex;
}

h4 {
    font-size: 30px;
}

h2 {
    font-size: 50px;
}

h1 {
    font-size: 70px;
}

h4 {
    font-size: 30px;
}

/* actual matha byatha css code */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    height: 100%;
    width: 100%;
}

/* navbar */

i {
    display: inline-block;
    height: 1rem;
    width: 1rem;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 20px 80px; */
    background: #E3E6F3;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
}


#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 40px;
}

#navbar li button {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #1a1a1a;
    transition: font-size 0.25s ease-in-out, text-decoration 0.25s ease-in;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    outline: none;
}



#symbol button::before {
    height: 0;
}

#navbar li button::before {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 4px;
    margin-top: 30px;
    background-color: black;
    transition: all 0.15s ease-in;
}

#navbar li button:hover::before,
#navbar li button.active::before {
    width: 35px;
}

#search {
    outline: none;
    width: 25em;
    border: 1px solid black;
    padding: 2px 3px;
    border-right: 0;
}

.search-icon { 
    background-color: white;
    border: 1px solid black;
    border-left: 0 ;
    cursor: pointer;
}

.button-cart {
    outline: none;
    border: none;
    background: #E3E6F3;
}

.button-cart::before {
    content: ' ';
    height: 5px;
    width: 5px;
    scale: 0;
    border-radius: 100%;
    position: absolute;
    margin-top: 27px;
    background-color: #1a1a1a;
    margin-left: 10px;
    transition: all 0.2s ease-in-out;
}

.button-cart:hover::before {
    scale: 1;
}

.button-cart[dot='true']::before {
    scale: 1;
}

/* Main */
#main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 80px;
}

#main h1 {
    font-size: 70px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 20px;
}

#main h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

#main h4 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

#main p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

#main button {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: white;
    cursor: pointer;
    outline: none;
    margin-bottom: 100px;
}

#main button:hover {
    background-color: #1a1a1a;
    color: white;
}

#main button:active {
    background-color: #1a1a1a;
    color: white;
}




/* -----------------NAV--------------- */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.25);
    font-size: 1.5em;
    color: #3b3b3b;
    padding: 0 0.75em;
    z-index: 100;
}

#taatghor {
    margin-right: auto;
    margin-left: 0.5em;
    font-weight: 700;
}

#search-button {
    margin-right: 0.25em;
}

nav > a {
    /* width: 1.5em; */
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 1.5em; */
    color: #3b3b3b;
    text-decoration: none;
}

/* ------------------------------------------- */


/* PRODUCT CARD ------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    line-height: 1.5;
}
.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #256eff;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(shoes_images/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}
/* --------------------------------------- */